<?xml version="1.0"?>
<config>
  <modules>
    <Credevlabz_EasyWarehouse>
      <version>1.0.1</version>
    </Credevlabz_EasyWarehouse>
  </modules>
  <global>
    <helpers>
      <easywarehouse>
        <class>Credevlabz_EasyWarehouse_Helper</class>
      </easywarehouse>
    </helpers>
	<blocks>
	  <easywarehouse>
		<class>Credevlabz_EasyWarehouse_Block</class>
	  </easywarehouse>
	  <adminhtml>
			<rewrite>
				<catalog_product_edit_tab_inventory>Credevlabz_EasyWarehouse_Block_Adminhtml_Catalog_Product_Edit_Tab_Inventory</catalog_product_edit_tab_inventory>
			</rewrite>
		</adminhtml>
	</blocks>
	<models>
		<cataloginventory>
			<rewrite>
				<stock>Credevlabz_EasyWarehouse_Model_CatalogInventory_Stock</stock>
			</rewrite>
		</cataloginventory>
		<cataloginventory>
			<rewrite>
				<stock_item>Credevlabz_EasyWarehouse_Model_CatalogInventory_Stock_Item</stock_item>
			</rewrite>
		</cataloginventory>
	</models>
	
	<resources>
	  <easywarehouse_setup>
		<setup>
		  <module>Credevlabz_EasyWarehouse</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </easywarehouse_setup>
	  <easywarehouse_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </easywarehouse_write>
	  <easywarehouse_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </easywarehouse_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <easywarehouse>
	    <use>admin</use>
		<args>
		  <module>Credevlabz_EasyWarehouse</module>
		  <frontName>admin_easywarehouse</frontName>
		</args>
	  </easywarehouse>
	</routers>
  </admin>

</config> 
